<header>
  <div class="navbar">
      <div class="logo">JT</div>
      <input type="checkbox" id="nav-check" class="hamburger-checkbox">
      <label for="nav-check" class="hamburger" (click)="toggleMenu()">&#9776;</label>
      <nav id="navbarLinks">
          <ul>
              <li><a href="#about">ABOUT</a></li>
              <li><a href="#portfolio">PORTFOLIO</a></li>
              <li><a href="#reach-out">REACH OUT</a></li>
          </ul>
      </nav>
      <div class="overlay"></div>
  </div>
</header>
<main>
  <div class="hero-image">
      <img src="assets/abstract.svg" alt="Abstract Art">
  </div>
  <div class="hero">
      <div class="hero-text">
          <h1>JOYCE TENG<span></span></h1>
          <p>UI/UX and Data Enthusiast</p>
          <a href="#contact" class="contact-button">GET IN TOUCH</a>
      </div>
  </div>
</main>

<section id="about" class="about-me" [@scrollAnimation]="scrollAnimationState ? 'in' : 'out'">
      <div class="profile-container">
        <div class="profile-badge">
          <img src="assets/photo_2024-02-07_21-35-48.jpg" alt="Joyce Teng">
        </div>
        <div class="profile-description">
          <button class="what-i-do">WHAT I DO</button>
          <h2>I'M JOYCE TENG</h2>
          <p>I'm currently a <b>Penultimate Computing Science Undergraduate</b> at the Singapore Insititute of Technology(SIT). </p>
          <p>I'm passionate about <b>UI/UX design </b> and <b>data analytics.</b>I've completed modules including <b>Human-Computer Interaction (HCI), data analytics, data mining, full stack and mobile app development.</b></p>
          <p>My heart lies in designing and building websites and app. where I 
            relish the creative process of customising digital experience for users. 
            I'm dedicated to crafting the <b>best possible user interactions</b>
            Additionally, I'm not one to shy away from the world of data. I thrive on<b>
              diving into data, extracting valuable insights and turning data-driven decisions into reality. </b></p>

          <p>Join me on this exciting journey where I fuse design and data to create meaningful,user-centric tech solutions.</p>
          
          <a href="assets/JoyceTeng_Resume.pdf" class="download-resume" download="JoyceTeng_Resume.pdf">
            <button class="download-link">DOWNLOAD MY RESUME</button>
          </a>
        </div>
      </div>
    </section>
    <section id="portfolio" class="portfolio" [@fadeIn]>
      <h2>My Portfolio</h2>
      <div class="carousel-container" #carouselContainer>
        <div class="carousel-arrow left-arrow" (click)="prevCard()">&#10094;</div>
        <div class="cards-container" #cardsContainer>
          <div *ngFor="let card of cards; let i = index" class="card" [@fadeIn]>
            <img [src]="card.imageId">
            <div class="content">
              <h5 class="title">{{ card.title }}</h5>
              <br>
              <p class="copy">{{ card.copy }}</p>
              <button class="btn" *ngIf="card.button" (click)="openViewMore(card.viewMoreURL)">{{ card.button }}</button>
              <!-- Conditionally display the second button if it exists -->
              <br>
              <button *ngIf="card.button2 && card.demoURL" class="btn" (click)="watchDemo(card.demoURL)">{{ card.button2 }}</button>

            </div>
          </div>
        </div>
        <div class="carousel-arrow right-arrow" (click)="nextCard()">&#10095;</div>
      </div>
    </section>

    <section id="reach-out" class="reach-out" aria-label="Reach Out Section">
      <div class="container">
        <h2>Contact Details</h2>
        <p>+6598506745</p>
        <p>joycee.tml@gmail.com</p>
        <h2>LinkedIn</h2>
        <a href="https://www.linkedin.com/in/joyce-teng/" target="_blank">linkedin.com/in/joyce-teng/</a>
      </div>
    </section>


    