/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Acme', sans-serif;
}

/* Header and Navbar Styles */
header {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    color: #212121;
    font-size: 1em;
}

/* Hamburger Icon - shown on mobile */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #FFF;
}

/* Navbar Links */
#navbarLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#navbarLinks ul {
    display: flex;
    flex-direction: row; /* Align items in a row for desktop */
}

#navbarLinks ul li {
    padding: 0 10px;
}

#navbarLinks ul li a {
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 0; /* Padding to increase the clickable area */
    position: relative; /* Position relative for the pseudo-element */
}

#navbarLinks ul li a::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #fff;
    height: 3px; /* Only a small line under the text */
    transition: all 0.3s ease-in-out;
}

#navbarLinks ul li a:hover::before {
    left: 0;
    right: 0;
}

#navbarLinks ul li a:hover {
    color: #61DAFB;
}

/* Overlay for mobile menu */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
    transition: opacity 0.5s ease;
}

/* Checkbox for hamburger menu toggle */
.hamburger-checkbox {
    display: none; /* Hide checkbox */
}

/* Show menu when checkbox is checked */
.hamburger-checkbox:checked ~ #navbarLinks {
    transform: translateX(0);
    opacity: 1;
}

.hamburger-checkbox:checked ~ .overlay {
    display: block;
    opacity: 1;
}

/* Non-mobile navbar styles */
.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    margin: 0 10px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #212121;
    font-size: 1.5em;
    font-family: 'Acme', sans-serif;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    /* Adjust padding as needed, but remove top and bottom padding */
    height: 100vh;
    /* Set the hero section to full viewport height */
    box-sizing: border-box;
    position: relative;
    /* Add this to ensure the stacking context starts here */
}

.hero-image {
    position: absolute;
    /* Position the image absolutely */
    top: 0;
    right: 0;
    /* Align the image to the right */
    z-index: 0;
    /* Ensure that the image is behind the navbar */
    width: 50%;
    /* Set a width for the image or adjust as necessary */
    height: 100%;
    /* Set the image to full height */
    overflow: hidden;
    /* Hide any overflow */
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-text {
    max-width: 50%;
    font-family: 'Acme', sans-serif;
}

.hero-text h1 {
    font-size: 4em;
    margin: 0;
    font-family: 'Acme', sans-serif;
}

.hero-text p {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

.contact-button {
    padding: 10px 20px;
    background: #212121;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 48px;
}


.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
    color: #212121;
}


.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.profile-badge {
    flex-shrink: 0;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.profile-badge img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-description {
    max-width: 500px;
    text-align: left;
}

.profile-description .what-i-do {
    border: 2px solid #212121;
    background: none;
    color: #212121;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 40px;
    font-family: 'Acme', sans-serif;
    height: 50px;
}

.profile-description h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: 'Acme', sans-serif;
}

.profile-description p {
    font-size: 1em;
    line-height: 1.6;
    color: #212121;
}

.download-link {
    background: #212121;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    display: inline-block;
    border: none;
    line-height: 30px;
    height: 50px;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
}

.download-link:hover {
    background: #333;
    color: #fff;
}

.portfolio {
    margin: 5% 10%;
}


.carousel-container {
    position: relative;
}

.cards-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #fff;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-right: 1rem;
    scroll-snap-align: start;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border-radius: 16px;
    max-width: 315px;
    background: transparent;
    border: none;
    padding: 1rem;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
}

.card .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover img {
    transform: scale(1.1);
}


.card .title,
.card .btn {
    margin: 0;
    text-align: center;
}

.copy {
    text-align: center;
}

.card .btn {
    background: #212121;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.card .btn:hover {
    background: #333;
}


.card:focus {
    outline: none;
}


p {
    font-family: 'Acme', sans-serif;
}

.reach-out {
    padding: 40px 0;
    text-align: center;
}

.reach-out .container {
    max-width: 800px;
    margin: 0 auto;
}

.reach-out h2 {
    color: #212121;
    margin-bottom: 20px;
}

.reach-out p,
.reach-out a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger icon */
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2001; /* Above the overlay */
    }

    header {
        position: relative;
        width: 100%; /* Ensure header is full width */
    }
   /* Show navbar links when active */
   #navbarLinks.active {
    display: flex;
}

#navbarLinks ul li a {
    font-size: 1.5rem; /* Larger text size for menu items */
    padding: 10px;
    margin: 10px 0;
    display: block;
}

#navbarLinks ul li a:hover {
    background-color: #f4f4f4; /* Hover color change */
}

.overlay {
    display: none; /* Start hidden */
}



/* Overlay - shown when menu is active */
.overlay.active {
    display: block;
    opacity: 1;
}
/* Navbar Links - hidden by default, shown when checkbox is checked */
#navbarLinks {
    display: none;
    position: fixed;
    background-color: #131418; /* Dark background for the navbar */
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.hamburger-checkbox:checked ~ #navbarLinks {
    display: flex; /* Show menu when checked */
}

    #navbarLinks.active {
        display: block; /* Show when the menu is active */
    }

    #navbarLinks.active ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        /* Adjust this value so it's right below the hamburger menu */
        left: 0;
        background-color: none;
        /* So the menu is readable on top of any content */
        z-index: 1000;
    }

    #navbarLinks li {
        width: 100%; /* Full width for list items */
        border-bottom: 1px solid #f4f4f4; /* Match reference border */
    }

    #navbarLinks li a {
        display: block;
        padding: 20px 20px; /* Consistent padding */
        text-decoration: none;
        color: #FFF; /* Light text color for visibility */
        background-color: #131418; /* Dark background to match navbar */
        border: none;
    }
    #navbarLinks li a:hover {
        background-color: #333; /* Darker background on hover */
    }

    .navbar {
        flex-wrap: wrap;
        /* Allows items to wrap into a new row as needed */
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        font-size: 1em;
    }

    .hero-image {
        width: 100%; /* Ensure the image covers the width of the screen */
        position: absolute; /* Adjust position as necessary */
        height: auto; /* Adjust the height to be auto */
        overflow: hidden; /* Maintain overflow hidden */
    }

    .hero-image img {
        width: 100%; /* Ensure the image is responsive and covers the available width */
        height: auto; /* Adjust the height to maintain aspect ratio */
    }

    .hero {
        height: auto; /* Adjusts the hero section to fit the content rather than taking the full viewport height */
        padding: 20px 5%; /* Optional: Adjust the padding to suit your design needs on smaller screens */
    }

    .hero-text,
    .hero-image {
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1.2em;
    }

    .contact-button {
        padding: 5px 10px;
    }

    
    .profile-badge {
        width: 200px;
        height: 200px;
       
    }

    .profile-description {
        text-align: center;
     
    }

   
    .card {
        max-width: 100%;
        margin: 10px;
    }

 
    .card img {
        max-width: 100%;
        height: auto;
    }

    .carousel-arrow {
        font-size: 1.5em;
        padding: 0 10px;
    }

    .reach-out .container {
        padding: 20px;
    }
}

