    <header>
        <div class="navbar">
            <div class="logo">JT</div>
            <nav>
                <ul>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#hire-me">HIRE ME</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="hero">
            <div class="hero-text">
                <h1>JOYCE TENG<span></span></h1>
                <p>UI/UX and Data Enthusiast</p>
                <a href="#contact" class="contact-button">GET IN TOUCH</a>
            </div>
            <div class="hero-image">
                <!-- Image placeholder -->
                <img src="path-to-your-image.jpg" alt="Abstract Art">
            </div>
        </div>
    </main>
    <section class="about-me" [@scrollAnimation]="scrollAnimationState ? 'in' : 'out'">
      <div class="profile-container">
        <div class="profile-badge">
          <!-- The image will be placed via CSS to overlap with the circle -->
          <img src="assets/photo_2024-02-07_21-35-48.jpg" alt="Joyce Teng">
        </div>
        <div class="profile-description">
          <button class="what-i-do">WHAT I DO</button>
          <h2>I'M JOYCE TENG</h2>
          <p>I'm currently a <b>Penultimate Computing Science Undergraduate</b> at the Singapore Insititute of Technology(SIT). </p>
          <p>I'm passionate about <b>UI/UX design </b> and <b>data analytics.</b>I've completed modules including <b>Human-Computer Interaction (HCI), data analytics, data mining, full stack and mobile app development.</b></p>
          <p>My heart lies in designing and building websites and app. where I 
            relish the creative process of customising digital experience for users. 
            I'm dedicated to crafting the <b>best possible user interactions</b>
            Additionally, I'm not one to shy away from the world of data. I thrive on<b>
              diving into data, extracting valuable insights and turning data-driven decisions into reality. </b></p>

          <p>Join me on this exciting journey where I fuse design and data to create meaningful,user-centric tech solutions.</p>
          <button class="download-resume">DOWNLOAD MY RESUME</button>
        </div>
      </div>
    </section>
    


