<!-- app.component.html -->
<div class="portfolio-container">
  <nav class="navigation">
    <ul>
      <li><a href="#home">HOME</a></li>
      <li><a href="#projects">PROJECTS</a></li>
      <li><a href="#resume">RESUME</a></li>
    </ul>
  </nav>
  <header class="hero">
    <img src="assets/photo_2024-02-07_21-35-48.jpg" alt="Joyce Teng" class="profile-image">
    <h1>Joyce Teng</h1>
    <h2>Student</h2>
  </header>
  <section class="intro">
    <h3>Hello, a bit about me:</h3>
    <div class="cta-container">
      <a href="#" class="cta-button">MY RESUME</a>
      <a href="#" class="cta-button">PAST PROJECTS</a>
      <a href="#" class="cta-button">WORK EXPERIENCE</a>
    </div>
    <p class="about-text">
      I'm currently a Penultimate Computing Science Undergraduate at the Singapore Insititute of Technology(SIT). 

      I'm passionate about UI/UX design and data analytics.  I've completed modules including Human-Computer Interaction (HCI), data analytics, data mining, full stack and mobile app development 
      
      My heart lies in designing and building websites and app. where I relish the creative process of customising digital experience for users. I'm dedicated to crafting the best possible user interactions. Additionally, I'm not one to shy away from the world of data. I thrive on diving into data, extracting valuable insights and turning data-driven decisions into reality. 
      
      Join me on this exciting journey where I fuse design and data to create meaningful,user-centric tech solutions.
    </p>
  </section>
</div>
